$form-control-border: #888;
$form-control-border-from: rgba(0, 0, 0, .075);
$form-control-border-to: rgba(98, 98, 98, .6);
$btn-light-a: #0cadb7;
$btn-light-b: #0f0;



$white: #ffffff;
$black: #111111;
$gray: #434343;
$light-gray: #cccccc;

$madison: #2C3E50;
$pumice: #D2D7D3;
$bluewood: #34495e;
$cararra: #f2f1ef;
$ming: #1b5480;
$mingrgba: #343539;
$green-haze: #009856;
$salem: #1E824C;
$observatory: #049372;
$mountain-meadow: #1BBC9B;
$jelly-bean: #2574A9;
$piction-blue: #22A7F0;
$cinnabar: #E74C3C;
$thunderbird: #D91E18;

$gblue: #2980b9;
$gred: #e43c2b;
$gyellow: #ffbc06;
$gorange: #f39c12;
$ggreen: #009856;
$ggray: #e5e5e5;
$glight-gray: #f5f5f5;
$gblack: #121314;
