@import '_variables';

body {
  background-color: #EDEDED;
  background-image: url('/assets/img/noisy_net.png');
}

.wrapper {
  margin: 70px 16px 10px 16px;
}

#wrapper {
  padding-left: 0;
  margin-top: 80px;
  /* For content animation when toggle */
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #3E5050;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/**
 * Sidebar Styles
 */
.sidebar-nav {
  // position: absolute;
  // top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
  border-bottom: 1px solid #626464;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: $light-gray;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}


.message-log {
  position:fixed;
  bottom: 0;
  right: 0;
}

/*
 * Form control shadow modification
 */
.form-control:focus {
  border-color: $form-control-border;

  -webkit-box-shadow: inset 0 0px 0px $form-control-border-from, 0 0 0px $form-control-border-to;
  box-shadow: inset 0 0px 0px $form-control-border-from, 0 0 0px $form-control-border-to;
  outline: 0;
}
.form-control[disabled],
.form-control[readonly],
// Change disabled control background
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #f7f7f7;
  opacity: 1;
}
// For async file upload
.fileinput-button {
  position: relative;
  input {
    width: 100%;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    direction: ltr;
    cursor: pointer;
  }
}
/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button {
    input {
      filter: alpha(opacity=0);
      font-size: 100%;
      height: 100%;
    }
  }
}
/**
 * Placeholder color
 */
.form-control::-webkit-input-placeholder { color: #bbb; }
.form-control:-moz-placeholder { color: #bbb; }
.form-control::-moz-placeholder { color: #bbb; }
.form-control:-ms-input-placeholder { color: #bbb; }
