@import '_variables';
@import '_mixins';

.navbar-custom {
  background-color: $mingrgba;
  border-color: $gray;

  .dropdown {
    margin-right: 20px;
  }
  .navbar-right {
    &.no-auth {
      li {
        >a {
          margin-right: 15px;
        }
      }
    }
  }

  .navbar-brand {
    color: $white;
  }

  .navbar-brand:hover, .navbar-brand:focus {
    color: $white;
    background-color: transparent;
  }

  .navbar-text {
    color: $white;
  }

  .navbar-toggle {
    border: 0;
    i {
      color: $white;
    }
  }
  .navbar-toggle:hover, .navbar-toggle:focus {
    background-color: $bluewood;
  }

  .navbar-collapse, .navbar-form {
    border-color: $white;
  }

  .navbar-link {
    color: $white;
  }

  .navbar-link:hover {
    color: $white;
  }

  .navbar-nav {
    @include box-sizing();
    > li {
      margin-left: 2px;
      > a {
        color: $white;
      }
      > a:hover,>a:focus {
        color: $white;
        background-color: transparent;
        // border-bottom: 4px solid $gyellow;
      }
    }
    > .active {
      > a {
        // border-bottom: 4px solid $gred;
      }
      > a,>a:hover,>a:focus {
        color: $white;
        background-color: transparent;
      }
    }
    > .disable {
      > a,>a:hover,>a:focus {
        color: $white;
        background-color: transparent;
      }
    }
    > .open {
      >a,>a:hover,>a:focus {
        color: $white;
        background-color: transparent;
      }
    }
  }
}

@media (max-width: 767px) {
  .navbar-custom {
    .navbar-nav {
      .open {
        .dropdown-menu {
          >li {
            >a{
              color: #0f0;
            }
            >a:hover,>a:focus {
              color: $white;
              background-color: transparent;
            }
          }
          >.active {
            >a,>a:hover,>a:focus {
              color: $white;
              background-color: transparent;
            }
          }
          >.disabled {
            >a,>a:hover,>a:focus {
              color: $white;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}



.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #343539;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #555;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #0f0;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777777;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}
.dropdown-menu-right {
  left: auto;
  right: 0;
}
.dropdown-menu-left {
  left: 0;
  right: auto;
}
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777777;
  white-space: nowrap;
}
.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid;
  content: "";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}
@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    left: auto;
    right: 0;
  }
  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto;
  }
}

.panel-dark {
  border: 1px #AEAEAE solid;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(48, 51, 50, 0.4);
-moz-box-shadow:    2px 2px 3px 0px rgba(48, 51, 50, 0.4);
box-shadow:         2px 2px 3px 0px rgba(48, 51, 50, 0.4);
}
.panel-dark > .panel-heading {
  color: #fff;
  background-color: #343539;
  border-color: #000;
}
.panel-dark > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}
.panel-dark > .panel-body {
  // background-color: #EFEFEF;
}
.panel-dark > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-dark > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}
