<div class="row">
  <div class="col-md-8 col-md-offset-2 ">
    <div class="panel panel-dark">
      <div class="panel-heading"><b>Manage Your Devices</b></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-10">
            <label for="search">Search</label>
            <input name="search" type="text" ng-model="search" class="form-control">
          </div>
          <div class="col-md-2">
            <br>
            <a href="#/create" class="btn btn-light">
              <i class="fa fa-plus"></i>
            </a>
          </div>
        </div>
        <ul class="device-list">
          <li ng-repeat="device in fdevices =  (devices|filter:search)">
            <a href="/dashboard/devices/{{device.id}}">
              <h4>{{device.name}}</h4>
              <span>{{device.description}}</span>
              <img src="/uploads/avatars/device.png" alt="">
            </a>
          </li>
          <li ng-hide="fdevices.length">No devices</li>
        </ul>
      </div>
    </div>
  </div>
</div>
